.App {
  text-align: center;  
}

svg {
  border: 1px solid black;
}

.tab-line {
  stroke: black;
  stroke-width: 1px;
}

.note {
  font-family: "Lucida Console", Monaco, monospace;  
  font-size: 12px;
}
